{% extends 'base.html' %}
{% block content %}

<main id="detail-page">
    <h1>{{ plant.name }}</h1>
    <img src="{{ plant.photo_url }}" alt="{{ plant.name }}">
    <p>Date Planted: {{ plant.date_planted }}</p>
    <p>Variety: {{ plant.variety }}</p>
    <a href="{{ url_for('edit', plant_id=plant._id) }}" class="nav">Edit Plant</a>

    <form action="/harvest/{{ plant._id }}" method="POST">
        <fieldset>
            <legend>Harvested:</legend>
            
            <label>
                Amount harvested
                <input type="text" name="quantity" placeholder="e.g. 2 tomatoes">
            </label>

            <label>
                Date harvested
                <input type="date" name="date">
            </label>

            <input type="submit" class="submit" value="Harvest!">
        </fieldset>
    </form>

    <section id="harvest-history">
        <h3>Harvest History</h3>

        <ul>
            {% for harvest in harvests %}
                <li>{{ harvest.date }}: Harvested {{ harvest.quantity }}</li>
            {% else %}
                <li>No harvest history available.</li>
            {% endfor %}
        </ul>
    </section>

    <form action="/delete/{{ plant._id }}" method="POST" id="delete-form" onsubmit="return confirm('Are you sure you want to delete this plant?');">
        <input type="submit" class="nav" value="Delete Plant">
    </form>
</main>

{% endblock content %}
